/* Import AdminLTE Styles  */
@import '../../node_modules/admin-lte/dist/css/adminlte.min.css';
@import '../../node_modules/admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '../../node_modules/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '../../node_modules/admin-lte/plugins/jqvmap/jqvmap.min.css';
@import '../../node_modules/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';
@import '../../node_modules/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import '../../node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css';
@import '../../node_modules/admin-lte/plugins/summernote/summernote-bs4.min.css';
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; 
    display: inline-block;
    color: black;
}